
body{
    background-color: #F6F6F6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

header{
    margin-left: 2%;
    margin-bottom: 4%;
}

header h1{
    color: #20A001;
    font-size: 300%;
    margin-bottom: 0;
    font-weight:normal;
}
header h3{
    margin-top:0;
    color: #86EA66;
}

.main{
    overflow: hidden;


    background-color: white;

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;

    /*SHADOW*/
    -webkit-box-shadow: 0px 0px 10px 0px #888888;
    -moz-box-shadow: 0px 0px 10px 0px #888888;
    box-shadow: 0px 0px 10px 0px #888888;
}

aside{
    overflow: hidden;
    float: left;
    margin: 1% 0 1% 1%;

    background-color: #86EA66;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-width: 157px;

}

.container{
    float:right;
}

article{
    margin-bottom: 5%;
    color: #666666;
    width:94%;


}
article h2{
    font-weight: normal;
    margin-bottom: 1%;
    font-size: 200%;
}
article .info{
    color: #66A342;
    font-size: 72%;
    border-bottom: 1px dotted grey;
    padding-bottom: 0.5%;
}

.info a{
    color: #34BA01;
}

.special-text{
    font-weight: bold;
    font-style: italic;
}



.first-table th{
    background-color: #99CCFF;
    color: #83826A;
}

article table{
    margin-bottom: 5%;
}

article .button{
    border: 1px solid #cccccc;
    border-radius: 10px;
    width:150px;
    height:30px;
    background: linear-gradient(#FFFFFF, #dadada);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #666666;
}

footer{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #86EA66;
    font-size: 70%;
    clear: both;
}

/*
    RWD MENU STYLE
*/

/*Strip the ul of padding and list styling*/
nav ul {
    list-style-position: inside;
    list-style-type: decimal;
    color: #FFFFFF;
    margin: 0;
    padding: 0;

}

/*Create a horizontal list with spacing*/
nav li, nav h2, li a {
    width: 90%;
    margin-left: 5%;

}

nav li a{
    border-bottom: 1px dashed #FFFFFF;
}

/*Style for menu links*/
nav li a, nav h2 {
    min-width:140px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background: #86EA66;
    text-decoration: none;
}

nav h2{
    font-size: 105%;
    background: linear-gradient(green, #38BF01);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5%;
    margin-left:5%;
    width: 84%;
}

nav li:hover a{
    background: green;
}
.art:hover{
background: #86EA66;
cursor: pointer;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: green;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ nav ul{
    display: block;
}


@media only screen and (max-width: 950px)
{
    body{
        width: 90%;
    }
}


/*Responsive Styles*/

[class*="col-"] {
    width: 100%;
}

@media screen and (max-width : 760px){
    body{
        width: 100%;
        position: static;
    }
    header{
        font-size:68%;
        text-align: center;
    }

    .main{
        border-radius: 0;
    }
    aside{
        margin: 0 0 0 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    /*Make dropdown links appear inline*/
    nav ul {
        position: static;
        width: 100%;
        display: none;
    }
    /*Create vertical spacing*/
    nav li {
        width: 100%;
        margin-bottom: 1px;
        text-align: center;
        border-bottom: 1px dashed;
    }
    /*Make all menu links full width*/
    nav ul li, li a, nav ul h2 {
        width: 100%;
        margin: 0 0 0 0;
        border-radius: 0;
        padding: 0 0 0 0;
    }
     nav li a, nav h2{
        text-align: center;
        border:none;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    .container{
        width: 95%;
    }
    .container h2{
        font-size: 170%;
    }

}










/* FOR MOBILE DEVICES*/

/* For mobile phones: */

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 760px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 70.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


